In [1]:
import pandas as pd
import numpy as np
import math

In [14]:
def bert_format(df):
    df = pd.DataFrame({'guid': df['guid'],
                        'text_a': df['text_a'],
                        'text_b': pd.Series("a", index=np.arange(len(df))),
                        'theme1': df['theme1'].astype(int)})
    return df

In [8]:
def widen_labels(df):
    size = len(df)
    labels = np.zeros((size, 9))
    labels[np.arange(size), df['theme1']-1] = 1
    
    labels_df = pd.DataFrame(labels)
    labels_df.columns = np.arange(9)+1
    
    df_wide = pd.DataFrame({"guid": df['guid'],
                             "text_a": df['text_a'],
                             "text_b": df['text_b']})
    df_wide = pd.concat([df_wide, labels_df], axis = 1)
    return df_wide

In [16]:
for i in range(5):
    path = "dataset_multiclass_wide/"+str(i)+"/"
    test_labeled = pd.read_csv(path+"test_labeled.tsv",
                              sep='\t', header=None)
    train = pd.read_csv("dataset_multiclass_wide/"+str(i)+"/train.tsv",
                              sep='\t', header=None)
    
    cols = ['guid', 'text_a', 'theme1', 'theme2']
    test_labeled.columns = cols
    train.columns = cols
    
    test_labeled = bert_format(test_labeled)
    train = bert_format(train)
    
    test_labeled_wide = widen_labels(test_labeled)
    train_wide = widen_labels(train)
    
    display(test_labeled_wide.head())
    display(train_wide.head())
    
    test_labeled_wide.to_csv(path+"dev.tsv", sep='\t', header=False, index=False)
    train_wide.to_csv(path+"train.tsv", sep='\t', header=False, index=False)

,guid,text_a,text_b,1,2,3,4,5,6,7,8,9
0,205,Gunman casually bought water moments before ma...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,579,New Mexico Compound: Alleged Muslim Extremists...,a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,586,Jenelle Evans lies about pulling a gun after r...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,699,Calif. teacher arrested for road rage and arme...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,855,White man takes out gun to stop black students...,a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

,guid,text_a,text_b,1,2,3,4,5,6,7,8,9
0,36,Cremated remains of Las Vegas mass shooter to ...,a,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,47,Florida shooter a troubled loner with white su...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,68,Vernon Hills teen accused of wearing white sup...,a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,70,Griffith student charged with accidentally bri...,a,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,98,Exclusive: Group chat messages show school sho...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

,guid,text_a,text_b,1,2,3,4,5,6,7,8,9
0,47,Florida shooter a troubled loner with white su...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,68,Vernon Hills teen accused of wearing white sup...,a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,310,Family that took in Florida shooting suspect c...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,317,"This is a very dangerous person,' says lawyer ...",a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,372,What do most mass shooters have in common? It'...,a,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

,guid,text_a,text_b,1,2,3,4,5,6,7,8,9
0,36,Cremated remains of Las Vegas mass shooter to ...,a,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,70,Griffith student charged with accidentally bri...,a,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,98,Exclusive: Group chat messages show school sho...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,129,Lawyers call US gun charges for Mexican man 'v...,a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,160,Parkland School Shooting Suspect Nikolas Cruz ...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

,guid,text_a,text_b,1,2,3,4,5,6,7,8,9
0,98,Exclusive: Group chat messages show school sho...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,228,Florida school shooting suspect was investigat...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,264,Man accused of shooting at black teenager who ...,a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,362,Central Michigan University officers had multi...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,384,This is an unspoken culprit of school shootings,a,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

,guid,text_a,text_b,1,2,3,4,5,6,7,8,9
0,36,Cremated remains of Las Vegas mass shooter to ...,a,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,47,Florida shooter a troubled loner with white su...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,68,Vernon Hills teen accused of wearing white sup...,a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,70,Griffith student charged with accidentally bri...,a,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,129,Lawyers call US gun charges for Mexican man 'v...,a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

,guid,text_a,text_b,1,2,3,4,5,6,7,8,9
0,70,Griffith student charged with accidentally bri...,a,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,129,Lawyers call US gun charges for Mexican man 'v...,a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,162,"Florida shooter showed violence at home, polic...",a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,239,Checking Facts and Falsehoods About Gun Violen...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,404,Nikolas Cruz's brother regrets bullying school...,a,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

,guid,text_a,text_b,1,2,3,4,5,6,7,8,9
0,36,Cremated remains of Las Vegas mass shooter to ...,a,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,47,Florida shooter a troubled loner with white su...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,68,Vernon Hills teen accused of wearing white sup...,a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,98,Exclusive: Group chat messages show school sho...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,160,Parkland School Shooting Suspect Nikolas Cruz ...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

,guid,text_a,text_b,1,2,3,4,5,6,7,8,9
0,36,Cremated remains of Las Vegas mass shooter to ...,a,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,160,Parkland School Shooting Suspect Nikolas Cruz ...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,231,New Vermont law used to keep school shooting p...,a,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,392,Some wanted shooting suspect forcibly committe...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,438,What the FBI Knew About the Accused Florida Sc...,a,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

,guid,text_a,text_b,1,2,3,4,5,6,7,8,9
0,47,Florida shooter a troubled loner with white su...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,68,Vernon Hills teen accused of wearing white sup...,a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,70,Griffith student charged with accidentally bri...,a,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,98,Exclusive: Group chat messages show school sho...,a,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,129,Lawyers call US gun charges for Mexican man 'v...,a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0